@import "../../styles/flex/flex";
@import "../../styles/devices/device";
$primary: #720d5d;

.wrapper {
  .container {
    @extend .flex-row-wrap;
    padding-left: 1.5vw;
    height: 40vw;
    justify-content: flex-start;

    @include media-breakpoint-down(sm) {
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 2vw;
      overflow: hidden;
    }

    .card {
      position: relative;
      margin: 0.7vw;
      width: 19vw;
      cursor: pointer;
      height: fit-content;
      transform-origin: center;
      transition: box-shadow 0.5s, background 0.5s, transform 0.5s;
      &:hover {
        background: rgba(93, 42, 224, 0.1);
        box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14),
          0 1px 18px 0 rgba(0, 0, 0, 0.12);
        transform: scale(1.03);

      }

      .card-image {
        align-self: stretch;
        background: #f0f0f0;
        > img {
          width: 100%;
          height: 11vw;

          @include media-breakpoint-down(sm) {
            height: 46vw;
          }
        }
      }

      @include media-breakpoint-down(sm) {
        width: 88vw;
        height: 78vw;
        margin-top: 6vw;
      }

      .card-quickaction-left {
        position: absolute;
        top: 0.7vw;
        left: 0.7vw;
        left: -2px;

        button {
          padding: 2px;
          font-size: 0.7vw;
          line-height: 1.5vw;
          font-weight: 400;
          letter-spacing: 0.03em;
          border-radius: unset;
          background: linear-gradient(107deg, #d11450, #ef4123);

          @include media-breakpoint-down(sm) {
            font-size: 2.2vw;
            line-height: 5vw;
            font-weight: 400;
            letter-spacing: 0.03vw;
            min-width: 15vw;
          }
        }
      }

      .card-details {
        @extend .flex-column, .flex-space-between;
        padding: 0.7vw;
        align-items: stretch;
        align-content: stretch;
        flex: 1 1 auto;

        @include media-breakpoint-down(sm) {
          padding: 3vw;
        }

        .card-title {
          > p {
            overflow: hidden;
            text-overflow: ellipsis;
            color: rgba(0, 0, 0, 0.6);
            margin: 0;
            padding-bottom: 0.3vw;
            font-size: 0.8vw;
            height: 2vw;

            @include media-breakpoint-down(sm) {
              font-size: 4vw;
              height: 11vw;
            }
          }
        }

        .card-main-details {
          @extend .flex-row, .flex-space-between;
          align-items: stretch;
          align-content: stretch;
          flex: 1 1 auto;
          padding-top: 0.5vw;
          padding-bottom: 0.5vw;
          font-size: 1vw;
          color: $primary;

          @include media-breakpoint-down(sm) {
            font-size: 4vw;
          }
        }

        .card-tray {
          .avatar > img {
            width: 2vw;
            height: 2vw;
            border-radius: 50%;

            @include media-breakpoint-down(sm) {
              width: 6vw;
              height: 6vw;
            }
          }

          @extend .flex-row, .flex-space-between;

          .icon-tray {
            transition: transform ease-in 200ms, opacity ease-in 200ms;
            transform: translateY(20px);
            opacity: 0;
            align-self: flex-end;
          }

          .icon-tray-visible {
            transform: translateY(0px);
            opacity: 1;
          }
        }
      }
    }
  }

  > h1 {
    font-size: 2.4vw;
    margin-left: 2.5vw;
    color: rgba(0, 0, 0, 0.6);
    font-weight: normal;
    @include media-breakpoint-down(sm) {
      font-size: 7vw;
      margin: 2vw;
    }
  }
}
